apiVersion: v1
kind: Pod
metadata:
  name: ibench-llc?
  namespace: xinan
  labels:
    name: ibench-llc?
spec:
  containers:
    - image: mirrors.tencent.com/cloudns/cloudrepo:llc
      name: ibench-llc?
      command: ["/bin/sh"]
      args: ["-c", "taskset -c ? ./l3 1200"]
  tolerations:
      - effect: NoSchedule
        operator: Exists
  nodeSelector:
    kubernetes.io/hostname: node-100.91.31.242
