apiVersion: v1
kind: Pod
metadata:
  name: ibench-l1i?
  namespace: xinan
  labels:
    name: ibench-l1i?
spec:
  containers:
    - image: mirrors.tencent.com/cloudns/cloudrepo:l1i
      name: ibench-l1i?
      command: ["/bin/sh"]
      args: ["-c", "taskset -c ? ./l1i 60 10"]
  tolerations:
      - effect: NoSchedule
        operator: Exists
  nodeSelector:
    kubernetes.io/hostname: node-100.91.31.242
